/* LOGIN BUTTONS */
#facebook-login {
    color: #F05F40 !important;
    background-color: transparent !important;
    padding: 5px 15px !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border: 2px solid #F05F40 !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
}

#facebook-logout {
    color: #F05F40 !important;
    background-color: transparent !important;
    padding: 5px 15px !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border: 2px solid #F05F40 !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
}