<body>
<header >
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div id ="header-container" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Incrrr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {{#if currentUser}}
                        <li class="page-scroll">
                            <a href="#">{{currentUser.services.facebook.name}}</a>
                        </li>
                    {{/if}}
                    <li class="page-scroll">
                        <a href="#">{{> facebooklogin}}</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
</body>
<template name="facebooklogin">
    {{#if currentUser}}
        <button id="facebook-logout">Logout</button>
    {{else}}
        <button id="facebook-login">Login</button>
    {{/if}}
</template>